<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Article</title>
</head>
<body>
<form method="post" action="/update_article/{{article.id}}">
    <input type="text" name="content" value="{{article.content}}"/><br/>
    <input type="submit"/>
</form>
</body>
</html>